.stockCheckTable :global(.ant-pagination-options-quick-jumper) {
  font-size: 0;
}

.stockCheckTable :global(.ant-pagination-options-quick-jumper)::before {
  content: 'Đến trang ';
  font-size: 14px;
}

.stockCheckTable :global(.ant-pagination-options-quick-jumper input) {
  font-size: 14px;
}